extends layout

block content
  div.sub-title-container
    p #{title}: 
  //-     b #{magazine && magazine.name}
    

  //- form(method="POST" action="")
  //-   div
  //-     input#name(type="text", placeholder="Add a magazine name", name="name" value=(undefined===magazine ? "" : magazine.name), required="true") 
  //-   button(type="submit") Submit