extends layout

block content
  div.sub-title-container
    p #{categories}:   

  a(href="/genre/create").form-link + Genre

  ul.list-item 
    each genre in list_genres 
      li 
        a(href=genre.url) #{genre.name}
    else 
      li There are no current genres.