extends layout

block content
  div.sub-title-container
    p #{title}: 
      b #{genre && genre.name}

  form(method="POST" action="" style="width: 95%; margin: 0 auto")
    div
      input#name(type="text", placeholder="Fantasy, Adventure etc.", name="name" value=(undefined===genre ? "" : genre.name), required="true") 
    button(type="submit") Submit