* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* ------------------------ NAVBAR ------------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1200px;
  height: 60px;
  background-color: rgb(196, 43, 43);
  margin: 2.6em auto;
}

.title-container {
  margin: 0 4em;
}

.title-container a {
  text-decoration: none;
  color: #fff;
}

.title-container, .list-container {
  width: 50%;
}

.navbar-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar-ul a {
  text-decoration: none;
  color: #fff;
}

.navbar-ul a:hover {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------ HOMEPAGE / INDEX ------------------------ */

.home-title {
  text-align: center;
  margin-top: 1.2em;
}

.home-card {
  width: 80%;
  min-height: 375px;
  margin: 2em auto;
  background-image: url("../images/manga-bg.png");
  background-position: top;
  background-size: cover;
}


/* ------------------------ GENRE LIST PAGE ------------------------ */

.sub-title-container {
  width: 100%;
  border-bottom: 1px solid rgb(148, 148, 148);
  margin-bottom: 0.75em;
}

.sub-title-container p {
  /* font-weight: 600; */
  margin: 2em 0 0.25em 0;
}

.form-link {
  float: right;
  font-size: 0.95em;
}

.list-item li {
  list-style-type: none;
  font-size: 0.95em;
  padding: 0.1em 0;
}

.list-item a {
  text-decoration: none;
  color: #1d439b;
}

.list-item a:hover {
  text-decoration: underline;
}



/* ------------------------ MOBILE VIEW ------------------------ */

@media (max-width: 868px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .title-container {
    margin: 0;
    text-align: center;
  }

  .navbar-ul {
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
  }

  .navbar-ul li {
    padding: 0.5em;
  }

  /* ------------------------ HOMEPAGE / INDEX ------------------------ */

.home-title {
  font-size: large;
}
}