* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

/* ------------------------ NAVBAR ------------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1200px;
  height: 60px;
  background-color: rgb(196, 43, 43);
  margin: 2.6em auto;
}

.title-container {
  margin: 0 4em;
}

.title-container a {
  text-decoration: none;
  color: #fff;
}

.title-container, .list-container {
  width: 50%;
}

.navbar-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar-ul a {
  text-decoration: none;
  color: #fff;
}

.navbar-ul a:hover {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.container {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------ HOMEPAGE / INDEX ------------------------ */

.home-title {
  text-align: center;
  margin-top: 1.2em;
}

.home-card {
  width: 80%;
  min-height: 375px;
  margin: 2em auto;
  background-image: url("../images/manga-bg.png");
  background-position: top;
  background-size: cover;
}


/* ------------------------ GENRES PAGE ------------------------ */

.sub-title-container {
  width: 100%;
  border-bottom: 1px solid rgb(148, 148, 148);
  margin-bottom: 0.75em;
}

.sub-title-container p {
  /* font-weight: 600; */
  margin: 2em 0 0.25em 0;
}

.form-link {
  float: right;
}

/* This class is used in other models */
.list-item-child {
  margin-bottom: 1em 0;
}

.list-item li {
  padding: 0.1em 0;
}

/* ------------------------ GENRE DETAIL PAGE ------------------------ */

/* This class is used in other models */
.delete-update-container {
  margin-top: 1.5em;
  padding-top: 1em;
  text-decoration: none;
  border-top: 1px solid grey;
}

.delete-update-container p {
  line-height: 1.8em;
}

.delete-update-container a {
  text-decoration: none;
}

.delete-update-container a:hover {
  text-decoration: underline;
}


/* ------------------------ DELETE GENRE ------------------------ */


.delete-item-message {
  margin: 0 0 0.6em 0;
}

/* ------------------------ INPUT FIELD STYLING ------------------------ */

input[type=text], select {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #574e42;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button:hover {
  background-color: rgb(117, 79, 79);
}

/* ------------------------ AUTHOR LIST PAGE ------------------------ */

.author-manga {
  margin: 0 0 0.5em 0;
}

.author-manga-list {
  padding: 0.25em 1em;
}

.author-genre-list {
  margin: 1.25em 0 0 0;
  color: rgb(133, 133, 231);
}

.author-genre-list h3 {
  margin: 0 0 0.5em 0;
  color: black;
}


/* ------------------------ MANGA INFO ------------------------ */


.manga-info-title {
  padding: 0;
  font-size: x-large;
}

.manga-container {
  display: flex;
  width: 100%;
}

.manga-container-left {
  width: 70%;
  padding-right: 2em;
}

.manga-container-right {
  width: 30%;
} 

.manga-container-right img {
  width: 100%;
}

.manga-p {
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.manga-p a {
  color: rgb(29, 29, 235);
}

/* ------------------------ MANGA FORM ------------------------ */

.input-container {
  margin: 1em 0;
}

/* ------------------------ MOBILE VIEW ------------------------ */

@media (max-width: 868px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .title-container {
    margin: 0;
    text-align: center;
  }

  .navbar-ul {
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
  }

  .navbar-ul li {
    padding: 0.5em;
  }

  .manga-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .manga-container-left {
    width: 100%;
  }

  .manga-container-right {
    width: 50%;
    margin: 0 auto;
  }


  /* ------------------------ HOMEPAGE / INDEX ------------------------ */

  .home-title {
    font-size: large;
  }
}